
@font-face {
    font-family: 'Silka';
    src: url('silka-regular.woff2') format('woff2'),
         url('silka-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Silka';
    src: url('silka-regular-italic.woff2') format('woff2'),
         url('silka-regular-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Silka';
    src: url('silka-semibold.woff2') format('woff2'),
         url('silka-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}


body {
	margin: 0;
	font-family: Silka, sans-serif;
	border: 0;
	padding-bottom: 100px;
}

header {
	height: 85vh;
	animation: fadein 0.5s ease-out;
}

header:after {
	content: "";
	clear: both;
	display: table;
}

h1 {
	margin: 0;
	font-weight: 600;
	font-size: 30px;
}

h2 {
	margin-top: 50px;
	font-weight: normal;
}

.heading-image {
	display: block;
	width: 45vw;
	float: right;
}

.container {
	box-sizing: border-box;
	padding: 5vw;
}

.content {
	width: 35vw;
	opacity: 0;
	animation: showup 0.5s ease-out 0.8s forwards;
}

iframe {
	margin-top: 10px;
	width: 100%;
	height: 19.7vw;
	display: block;
	height: 400px;
}

@keyframes fadein {
	0% { opacity: 0; transform: translate3d(0,20px,0); }
	100% { opacity: 1; transform: translate3d(0,0px,0); }
}

@keyframes showup {
	0% { opacity: 0; }
	100% { opacity: 1; }
}